.button {
  display: flex;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}

.btn-default {
  background-color: aqua;
  color: black;
}

.btn-blue {
  background-color: blue;
  color: white;
}
